* {
    color: white;
    margin:0px;
    padding: 0px;
}
a {
    text-decoration: none;
    margin-right: 200px;
}
.navbar {
    background-color: black;
    height: 60px;
    width: 100%;
}
.mydiv {
    height: 100px;
    width: 100px;
    border: 3px solid blue;
    display: inline-block;
    text-align: center;
}
footer {
    color: white;
    background-color: black;
    text-align: center;
}
.hi{
    height: 600px;
}
